.react-calendar {
  width: 100%;
  min-width: 0;
  background: #fff;
  border: 1px solid #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  line-height: 1.125em;
  box-sizing: border-box;
  padding-bottom: 8px;
}

/* 네비게이션 바 */
.react-calendar__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  margin-bottom: 0.4em;
  font-size: 1rem;
  gap: 10px;
}
.react-calendar__navigation button {
  min-width: 24px;
  padding: 0 2px;
  background: none;
}

.react-calendar__navigation button,
.react-calendar__navigation span {
  flex: none !important;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

/* 요일(헤더) */
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekdays__weekday:first-child {
  color: #ef4444 !important;
}

.react-calendar__month-view__weekdays__weekday:last-child {
  color: #3b82f6 !important;
}

/* 날짜 행(row) */
.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
  gap: 8px 0;
  width: 100%;
}

/* 날짜 */
.react-calendar__tile {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 28px !important;
  height: 28px !important;
  min-width: 28px !important;
  min-height: 28px !important;
  max-width: 28px !important;
  max-height: 28px !important;
  border-radius: 50% !important;
  position: relative !important;
  margin: 1.5px 2px !important;
  padding: 0 !important;
  background: none !important;
  box-sizing: border-box !important;
  font-size: 1em !important;
  text-align: center !important;
  font-weight: normal;
  overflow: visible !important;
}

/* 오늘 날짜 */
.react-calendar__tile--now {
  background-color: #5c5c5c !important;
  color: #fff !important;
  font-weight: normal !important;
}

/* 선택 시 오늘 날짜 */
.react-calendar__tile--now.react-calendar__tile--active,
.react-calendar__tile--now.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--now.react-calendar__tile--active:enabled:focus {
  background-color: #5c5c5c !important;
  color: #fff !important;
  font-weight: 600 !important;
}

/* 이웃달(전/다음달) */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #9ca3af !important;
}

/* 주말: 이웃달 빼고 색상 */
.react-calendar__month-view__days__day--weekend:not(
    .react-calendar__month-view__days__day--neighboringMonth
  ):nth-child(7n-6) {
  color: #ff3333;
}
.react-calendar__month-view__days__day--weekend:not(
    .react-calendar__month-view__days__day--neighboringMonth
  ):nth-child(7n) {
  color: #4578f9;
}
.react-calendar__month-view__days__day {
  color: #222;
}

/* 비활성 타일 */
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

/* 호버/포커스 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6 !important;
  color: #222 !important;
  border-radius: 50% !important;
  font-weight: 600;
}

/* 점 */
.calendar-date-dot {
  border-radius: 50%;
  width: 4.5px;
  height: 4.5px;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-top: 12px;
  transform: translateX(-50%);
  z-index: 2;
}
